body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #00AEEF;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.home-icon {
    width: 30px;
    height: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    color: white;
    text-align: center;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.info-box img {
    width: 100px;
}

.info-box p {
    margin: 10px 0;
}

.social-icon {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: 150px; /* Ajusta el tamaño según tus necesidades */
}
