body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #00BFFF;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.home-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Ajuste del margen para separar el ícono del texto */
}

.container {
    width: 80%;
    margin: 80px auto 0; /* Adjusted margin to account for fixed navbar */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.highlight {
    color: #00BFFF;
}

.rules {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #00BFFF;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-note {
    font-style: italic;
    color: #00BFFF;
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}


