body {
    font-family: Arial, sans-serif;
    background: url('background-image.jpg') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir toda la pantalla */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00aaff;
    padding: 10px;
    text-align: left;
}

.home-icon img {
    width: 30px;
    height: 30px;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.concern {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.image-container {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bicycle-image {
    max-width: 65%;
    height: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}
